#headerlogin {
	margin-right: 16px;
}

#headercharge {
	text-align: center;
}

#headercharge h1 {
	font-size: 9em;
	margin: 0;
	color: white;
}

#headercharge p {
	margin: 0;
	font-size: 1.6em;
	color: white;
}


#headercharge button {
	margin-top: 48px;
}

@media only screen and (max-width: 600px) {
	#headercharge h1 {
		font-size: 4em;
		margin: 0;
		color: white;
	}

	#headercharge p {
		margin: 0;
		font-size: 1.2em;
		color: white;
	}

	#headercharge button {
		margin-top: 24px;
	}	
}


#appicon {
	width: 24%;
	height: 24%;
	margin-right: 24px;
	display: none;
}

.right {
	display: flex;
	justify-content: flex-end;
}

#header {
	background-color: #004ba0;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 48px;
}

#headercontainer {
	margin: 48px;
}
