.logininput {
  margin-bottom: 8%;
}

.logincontainer {
  padding: 0% 10% 10% 10%;
  text-align: center;
}

.logincontainer h2 {
  font-weight: 500;
  padding-bottom: 8%;
}

#loginbutton {
  width: 100%;
}

.logincontainer p {
  font-weight: 300;
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
  .logincontainer {
    padding: 0% 0% 8% 0%;
  }

  .logincontainer p {
    font-weight: 300;
    font-size: 0.7em;
  }
}
