#cardcontent {
  font-size: 1.2em;
}

#more-for-owner {
  margin-left: auto;
}

.media {
  height: 0;
  padding-top: 56.25%;
  object-fit: cover;
  object-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardroot {
  margin: 8%;
}

@media only screen and (max-width: 600px) {
  .cardroot {
    margin: 16% 2%;
  }
}
