.media {
  height: 0;
  padding-top: 56.25%;
  object-fit: cover;
  object-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardroot {
  margin: 8%;
}
