.signupinput {
	margin-bottom: 4%
}

.signupcontainer {
	padding: 8% 10% 0 10%;
}

.signupcontainer Button {
	width: 100%;
}

.signupcontainer p {
	font-weight: 300;
	font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
	.signupcontainer {
		padding: 8% 0 0 0;
	}

	.signupcontainer p {
		font-weight: 300;
		font-size: 0.7em;
	}
}
